<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/vendor/jquery-1.12.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/vendor/canvas-to-blob.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/store-images.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav>
            <a href='/'>Home</a>
            <a id="next" href='/next/{{ next }}'>Next</a>
            <a href='/upload/'>Upload</a>
            <a href='/download/'>Download</a>
        </nav>
    </header>
    <div class="contain-holders">
        {% for H in src %}
        <div class="insta-holders" id="{{H[1]}}">
            <div class="insta-img-mask">
                <img class="insta-image" src="{{H[0]}}"/>
            </div>
            <div class="butts">
                <label for="like">Like</label>
                <input type="radio" name="store_image_0" value="like">
                <label for="super">Super Like</label>
                <input type="radio" name="store_image_0" value="super">
                <label for="ignore">Ignore</label>
                <input type="radio" name="store_image_0" value="delete">
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>