<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/vendor/jquery-1.12.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/vendor/canvas-to-blob.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/store-images.js') }}"></script>
</head>
<body>
    {# TODO: get for to post to /super/ #}
    <form action="" method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Upload>
    </form>
    <div class="insta-holders" id="432">
        <img class="insta-image" src="../static/images/7.jpg"/>
        <label for="like">Like</label>
        <input type="radio" name="store_image_0" value="like">
        <label for="super">Super Like</label>
        <input type="radio" name="store_image_0" value="super">
        <label for="ignore">Ignore</label>
        <input type="radio" name="store_image_0" value="delete">
    </div>

    <br><br>

    <div class="insta-holders" id="42432">
        <img class="insta-image" src="../static/images/snurfer4.jpg"/>
        <label for="like">Like</label>
        <input type="radio" name="store_image_1" value="like">
        <label for="super">Super Like</label>
        <input type="radio" name="store_image_1" value="super">
        <label for="ignore">Ignore</label>
        <input type="radio" name="store_image_1" value="delete">
    </div>

    <br><br>

    <div class="insta-holders" id="424fsd32">
        <img class="insta-image" src="../static/images/david-benjamin-sherry-Green.jpg"/>
        <label for="like">Like</label>
        <input type="radio" name="store_image_2" value="like">
        <label for="super">Super Like</label>
        <input type="radio" name="store_image_2" value="super">
        <label for="ignore">Ignore</label>
        <input type="radio" name="store_image_2" value="delete">
    </div>

</body>
</html>